*{
    font-family: 'Montserrat', sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
    background-color: rgb(241, 241, 241);
}

h1{
    margin: 0;
}
h3{
    margin: 16px;
}
:link{
    text-decoration: none;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr 1fr 5fr;
}
.sidebar{
    background-color: blueviolet;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px auto;
    justify-items: start;
}
.links,
.info{
    display: grid;
    grid-template-columns: 1fr;
   /* grid-template-rows: repeat(6, 30px);*/
}
.links div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-items: left;
    align-items: center;
}
input[type="text"]{
    width: 75%;
    height: 40px;
    border: none;
    border-radius: 25px;
    padding-left: 16px;
    background-color: rgb(238, 238, 238);
    font-size: 1.2em;
}
input[type="text"]:focus-visible{
    outline: 1px ridge rgba(97, 97, 97, 0.6);
}

.profile-pic{
    border-radius: 50%;
    min-height: 80px;
    min-width: 80px;
    background-color: white;
    border: 2px solid grey;
}
.welcome{
    margin: 16px;
}
.search{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: 16px;
}
.nav{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(170, 170, 170, 0.4);
    position: relative;
}
.nav>div:nth-child(even){
    justify-self: end;
    margin-right: 100px;
}
.nav>div:nth-child(odd){
    margin-left: 100px;
    align-items: center;
}
.top-right{
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.top-right .profile-pic{
    min-height: 50px;
    min-width: 50px;
}
.post-buttons{
    display: flex;
    gap: 24px;
}
.post-buttons button{
    background-color: #facc15;
    border: none;
    border-radius: 50px;
    font-size: 1.3em;
    padding: 12px 20px;
    color: white;
}
.post-buttons button:hover{
    background-color: #caa511;
    cursor: pointer;
}
.post-buttons button:active{
    outline:none;
    cursor: pointer;
}
.content{
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100%;
    gap: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    margin: 16px;
}
.content h3{
    margin-left: 16px;
}
.card{
    display: grid;
    grid-template-columns: 16px 1fr;
    box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.4);
    border-radius: 12px;
    background-color: white;
}
.projects .card{
    height: 200px;
}
.card .margin{
    height: 100%;
    background-color: #facc15;
    border-radius: 12px 0px 0px 12px;
}
h3{
    color: black;
}
h4{
    margin: 0;
}
.description{
    margin: 16px;
    color: gray;
}
.right-content{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr;
}
.announcements .card{
    display: grid;
    grid-template-columns: 1fr;
    margin: 16px;
    margin-left: 0;

}
.topic .description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    white-space: normal;   
    margin: 0;
}
.topic{
    margin: 16px;
}
h4{
    margin-bottom: 8px;
}

.topic:not(:first-child):not(:last-child){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 16px;
    padding-bottom: 16px;
}

h3.right-content{
    margin-left: 0;
}

