*{
    font-family: 'Montserrat', sans-serif;
}
body, html{
    height: 100%;
    margin: 0;
}

h1{
    margin: 0;
}
h3{
    margin: 16px;
}
:link{
    text-decoration: none;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 5fr;
}
.sidebar{
    background-color: blueviolet;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px auto;
    justify-items: start;
}
.links,
.info{
    display: grid;
    grid-template-columns: 1fr;
   /* grid-template-rows: repeat(6, 30px);*/
}
.links div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: rgb(255, 255, 255);
    grid-column: 2;
    grid-row: 1;
}
.nav{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(170, 170, 170, 0.4);
    position: relative;
}
.content{
    background-color: rgb(241, 241, 241);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 0;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 16px;
}
.content h3{
    margin-left: 16px;
}
.card{
    display: grid;
    grid-template-columns: 16px 1fr;
    box-shadow: 5px 5px 5px rgba(170, 170, 170, 0.4);
    border-radius: 12px;
    background-color: white;
}
.card .margin{
    height: 100%;
    background-color: goldenrod;
    border-radius: 12px 0px 0px 12px;
}
h3{
    color: black;
}
.description{
    margin: 16px;
    color: gray;
}
.right-content{
    display: grid;
    grid-template-columns: 1fr;
}
.announcements .card{
    display: grid;
    grid-template-columns: 1fr;

}
.topic .description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; 
    white-space: normal;   
    margin: 0;
}